{{>"modules/swade-extras/templates/common_card_header.hbs"}}
<div class="dramatic-task">
    <div class="task-header">
        <div class="task-type">{{ task_type }}</div>
        <div class="task"></div>
    </div>
</div>
{{>"modules/swade-extras/templates/common_card_footer.hbs"}}